{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Reservas</h1>
    <a hred="{{ url_for('main.index') }}" class="btn btn_outline_secondary">Volver</a>
</div>


{% if tickets %}
<div class="table-responsive">
<table class="table table-stripped table-hover">
    <thread class="table-dark">
        <tr>
            <!-- th>ID</th -->
            <th>Nombre</th>
            <th>Email</th>
            <th>Dia</th>
            <th>Fecha de reserva</th>
            <th>Estado</th>
            <th>Borrar</th>
        </tr>
    </thread>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.name }} </td>
            <td>{{ ticket.email }} </td>
            <td>{{ ticket.day }} </td>
            <td>{{ ticket.created_at }} </td>
            <td>
                {% if ticket.used %}
                    <span class="badge bg-danger">Usado</span>
                {% else %}
                    <span class="badge bg-success">Válido</span>
                {% endif %}
            </td>

            <td>
                <form action="{{ url_for('main.delete_ticket_route', ticket_id=ticket.id) }}" 
                      method="POST"
                      onsubmit="return confirm('¿Eliminar reserva de {{ ticket.name }}?');"
                      style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Borrar</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% else %}
{% endif %}

{% endblock %}
