{% extends "base.html" %}

{% block content %}

<h1 class="text-center mb-4">Reserva de entrada</h1>

<div class="row justify-content-center">
	<div class="col-md-6">

		<div class="card p-4 shadow">

			<form action="/reserve" method="post">
				<div class="mb-3">
				<label class="form-label">Nombre</label>
				<input type="text" name="name" class="form-control" required>
				</div>

				<div class="mb-3">
				<label class="form-label">Email</label>
				<input type="email" name="email" class="form-control" required>
				</div>

				<div class="mb-3">
				<label class="form-label">Día</label>
				<select name="day" class="form-select" required>
                    <option value="1">Día 1</option>
                    <option value="2">Día 2</option>
				</select>
				</div>

				<button type="submit" class="btn btn-primary w-100">
					Reservar entrada
				</button>
			</form>

		</div>

	</div>
</div>

{% endblock %}
