{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
<div class="col-md-6">
<div class="card p-4 shadow">

<h2>Validacion de entrada</h2>

<p><strong>ID:</strong> {{ ticket_id }}</p>

{% if status == "valid" %}
<div class="alert alert-success">Entrada válida</div>

{% elif status == "already_used" %}
<div class="alert alert-danger">Entrada ya validada</div>

{% elif status == "wrong_day" %}
<div class="alert alert-warning">Entrada para otro día</div>

{% else %}
<div class="alert alert-secondary">Entrada no valida</div>
{% endif %}

<a href="/scan" class="btn btn-primary mt-3">Escanear siguiente entrada</a>

</div>
</div>
</div>

{% endblock %}

